<div id="home-page">
    <h2>Home page</h2>
    <div id="search-bar"><input placeholder="Search for a game..." /></div>

    <div id="collection-area">
        <div id="collection-groups">
            <div id="recent-games">
                <h4>Recent Games Added</h4>
                <ul *ngFor="let game of example_games">
                    <li>{{game.title}}     {{game.console_owned_on}}   {{game.date_purchased}}</li>
                </ul>
            </div>
            <div id="collection-games">
                <h4>Collection</h4>
                <ul *ngFor="let game of example_games">
                    <li>{{game.title}}     {{game.console_owned_on}}   {{game.date_purchased}}</li>
                </ul>
            </div>
        </div>
        <div>
            <div id="system-filters">
                <h4>System Filter</h4>
                <ul *ngFor="let console of console_list">
                    <li>{{console.name}}</li>
                </ul>
            </div>
        </div>
    </div>    
</div>